:root, .App[data-theme="light"] {
  --background: #F1F1F1;
  --text-primary: #000;
  --text-secondary: #fff;
  --btn-color: #F1F1F1;
  --border: rgba(0,0,0,0.5);
  --filter: invert(0);
}

.App[data-theme="dark"] {
  --background: #212121;
  --text-primary: #fff;
  --text-secondary: #000;
  --btn-color: #F1F1F1;
  --border: rgba(255,255,255,0.5);
  --filter: invert(1);
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-property: color, background;
  transition-duration: 0.2s, 0.6s;
  transition-timing-function: ease-in-out;
}

.App {
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a, p, span, h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
}

h2 {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 34px;
}

button {
  cursor: pointer;
}

:focus {
  outline: none;
}

.main {
  display: flex;
  flex: 1;
  padding: 20px;
  padding-top: 50px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 10px;
}

.navbar {
  padding: 20px;
  background: var(--background);
  box-shadow: 0 0 10px 2px var(--border);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.ctn-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ctn-center {
  display: grid;
  place-content: center;
}

/* Todo List */

.group-input {
  display: flex;
  border-radius: 50vmax;
  overflow: hidden;
  filter: drop-shadow(0 2px 4px var(--border));
}

.group-input input,
.group-input button {
  font-size: 22px;
  padding: 10px 20px;
  border: none;
}

.group-input input {
  flex: 1;
  background: var(--text-secondary);
  color: var(--text-primary);
  border-right: none;
  border-radius: 50vmax 0 0 50vmax;
}

.group-input button {
  color: var(--text-secondary);
  background-color: var(--border);
}


/* List items */

#form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.list-items {
  flex: 1;
  display: grid;
  grid-auto-columns: 30ch;
  grid-template-rows: repeat(auto-fill, 50px);
  grid-auto-flow: column;
  padding: 20px;
  margin-top: 50px;
  color: var(--text-primary);
  overflow-x: scroll;
}

.list-items::-webkit-scrollbar {
  display: none;
}

.item-time {
  position: absolute;
  left: 5px;
  top: 2px;
  font-size: 8px;
}

.item-name {
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-delete {
  color: red;
  font-weight: bold;
  border: none;
  padding: 10px;
  background: transparent;
}

/* Button toggle */

.iconToggle {
  width: 30px;
  aspect-ratio: 1/1;
  filter: var(--filter);
}

.group-toggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--text-primary);
}

.switch {
  cursor: pointer;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  --size: 40px;
  width: var(--size);
  height: calc(var(--size)/1.8);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #ccc;
  margin-top: 5px;
  border-radius: 50vmax;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80%;
  aspect-ratio: 1/1;
  left: 5%;
  border-radius: 50%;
  background: white;
  transition: all .4s ease-in-out;
}

input:checked + .slider {
  --color-switch: #ffe900;
  background: var(--color-switch);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-switch);
}

input:checked + .slider:before {
  left: var(--size);
  translate: -115%;
  background: #212121;
}

.border {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 10px;
}